<div class="container-md">
    <div class="card" style="width: 70rem;">
        <div class="card-body">
            <h5 class="card-title">{{username}}</h5>
            <p class="card-text">{{post_body}} </p>
        </div>
    </div>
</div>