<div class="col-sm-3">
    <nav class="nav flex-column navbar-dark bg-dark p-4" style="width: 100%; height: 100%" id="sidebar">
        <!--FORUMS LIST GROUP-->
        <div class="mb-3">
            <p class="text-center text-white">Forums</p>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="">Forum Name</a>
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="">Forum Name</a>
                    <span class="badge bg-primary rounded-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="">Forum Name</a>
                    <span class="badge bg-primary rounded-pill">1</span>
                </li>
            </ul>
        </div>
        <!--FAVORITE USERS-->
        <div class="mb-3">
            <p class="text-center text-white">Favorite Users</p>
            <div class="overflow-auto" style="height: 200px">
                <ul class="list-group">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </div>
    </nav>
</div>