{{>user-info}}
 
{{>post}}

{{>modal}}

{{!-- <div class="future-dev">
    <h2>Future Development</h2>
    <p>Display all user posts in chronological order, newest > oldest</p>
    <p>Display counter icon for new comments received and any post</p>
    <p>Display notifications for other users favoriting me</p>
</div> --}}

<script src="/js/post-handler.js"></script>