{{>user-info}}

{{>post}}

<p>Display all of my posts in chronological order, newest > oldest</p>
<p>Display counter icon for new comments received</p>
<p>Display notifications for other users favoriting me</p>

<script src="/js/create-post.js"></script>