<div id="header">
    <h1>{{forum_name}}</h1>
</div>
<div id="create-post-container">
    {{ > create-post }}
</div>
<div id="forum-posts-container">
    {{#each posts as |Post|}}
        {{ > forum-post }}
    {{/each}}
</div>


{{!-- .router dot -- go to page
res.render('all-posts-admin',
      posts,
    });
this will list to page you wanna go to. go to <all-posts-admin
</all-posts-admin>

router / get - created data obj. we are passing post in, 
and then it renders. use different --}}